@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-library-green: #354336;
  --color-library-green-light: #4a5d4b;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-slate-50 antialiased;
  font-family: var(--font-sans);
}

#root {
  min-height: 100vh;
}